<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-packages" value="C:\Users\DELL\.nuget\packages" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
    <add key="local-packages" value="C:\Users\DELL\.nuget\packages" />
  </fallbackPackageFolders>
  <config>
    <add key="globalPackagesFolder" value="C:\Users\DELL\.nuget\packages" />
  </config>
</configuration>
